@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

body{
    background-color: #198754;
}

.nav{
    background-color: white;
}

#map{
    height: 84vh;
    border-radius: 20px;
    z-index: 0;
}

.event{
    transition: background-color 0.5s linear;
}

h1 {
    text-align: center;
    color: bisque;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}




.card {
    /*flex:1;*/

    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: large;
    background-color: bisque;
}



.button-container {
    margin: 20px;
    padding: 20px;
    /*display: flex; /* Maak een flexbox-layout voor de knop en het aantal ingeschreven leden */
    align-items: center; /* Centreer verticaal */

}
.ingeschreven{
    color: white;
    font-size: large;
    flex:1;
}



label{
    color:white;
}

button {
    height:50px;
    width: 100%;
    padding: 5px;
    background-color: #0047AB;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 20px;
}

.remove{
    padding-right: 10px;
}

#filterReset{
    width: 20%;
}
button:hover {
    background-color: blue;
}

button:disabled {
    background-color: rgb(128, 128, 128);
    color: #524f4f;
    cursor: not-allowed;
}

.highlight{
    background-color: #ffc805;
    color: red;
    transition: background-color 0.5s linear;

}

body {
    font-family: Arial, sans-serif;
}
/*
.container {
    display: flex; /* Maak een flexbox-layout


}*/

.kaart {
    /*flex: 1; /* Neem de helft van de beschikbare ruimte in beslag */
    /* Voeg hier stijlen toe voor je interactieve kaart */
    /*width: 50%;*/
    height: 84vh;


}

.activiteitenlijst {
    /*flex: 1; /* Neem de helft van de beschikbare ruimte in beslag */
    /*width: 50%;*/
    height: 84vh;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box; /* Zorg ervoor dat padding niet de totale breedte beïnvloedt*/
    border-style: solid;
    border-radius: 20px;
    overflow: hidden;


}
#activiteitenlijst{
    max-height: 100%; /* Stel de maximale hoogte van de lijst in */
    overflow-y: scroll;
}

h2{
    color: bisque;
}
h2,h4 {
    text-align: center;
    margin: 20px;
}

.ingeschrevenText{
    text-align: center;
    font-size: x-large;
    color: bisque;
}

::-webkit-scrollbar {
    width: 10px; /* Breedte van de scrollbar */


}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Kleur van de achtergrond van de scrollbar */


}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2c2c2; /* Kleur van de 'thumb' van de scrollbar */
    border-radius: 6px; /* Afronding van de 'thumb' van de scrollbar */
}


/*.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10000; /* Ensure the pop-up appears above other content
}*/







/* Stijlen voor het modaal venster */
.modal {
    display: none; /* Verberg het modaal venster standaard */
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

}

.modal-content {
    background-color: #fefefe;
    color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal h2{
    color: black;
}

.close {
    display: none;
}

#username,#password,#submitLogin{
    margin: 10px;

}

.wrongLogin{
    display: none;
    color: red;
    font-size: small;
}

/* Optionele stijlen voor het icoontje */
#showPasswordIcon {
    cursor: pointer;
}


.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin: 0 0 15px;
    padding: 0;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #333;
}


.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.password-toggle-icon i:hover {
    color: #000000;
}

.alert{
    position: fixed;
    top: 50px;
    right: -100%; /* Verplaats het alert buiten het scherm aan de rechterkant */
    /*transform: translateY(-50%);*/
    transition: right 1s ease;
    z-index: 10000;

}

.alert.show{
    right: 25px;
    transition: right 1s ease;
}

.item,.btn-check,.btn-toggle{
    text-align: center;
}
#optionAll + label, #optionMy + label{
    background-color: #0047AB;
    border-radius: 20px;
    color: white;
}
#optionAll:checked + label, #optionMy:checked + label{
    background-color: darkblue;
}

#filterDate , .btn-toggle{
    margin: 10px;
    padding: 10px;
}

.accordion-button {
    padding: 10px 20px;
    margin: 0;
}
.accordion-header{
    padding: 0;
    margin: 0;
}
.accordion-button {
    width: 100%;
}

#userIcon{
    vertical-align: center;
    horiz-align: right;
    padding-top:5px;
    padding-right: 20px;
    margin-right: 45px;

}

.inhoud{
    background-color: white;
}

.user-info {
    display: none;
    position: absolute;
    top: 40px; /* Positie onder de knop */
    right: 10px; /* Positie rechts uitgelijnd */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000; /* Zorg ervoor dat het venster bovenaan blijft */
}

#logoutBtn {
    margin-top: 10px;


    border: 2px solid;
    padding: 5px 10px;
    cursor: pointer;
}

a{
    color: Bisque;
}
.accordion-button:hover{
    background-color: lightgrey;
}
#filterDate{
    border:none;
}
